main {
  margin: 10px;
  border: 1px solid #000;
  width: 500px;
}

header {
  background-color: #eee;
  border-bottom: 1px solid black;
}

header,
article {
  padding: 10px;
}

p {
  padding-left: 10px;
}
